<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="../../assets/icon/kasifoodicon.png">

      <ion-button color="primary" size="small">
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">

  <div class="profile-background">
    <div class="profile ion-text-center">
      <img class="avatar" src="../../assets/images/nkukhu-box.png">

      <span><strong>Nkukhu Box</strong></span><br>
      <span>Location:<strong> Aubrey Matlala, Soshanguve</strong></span><br>
      <span>Operating Hours: <strong>8:00 a.m - 19:00 p.m</strong></span>
    </div>

    <ion-list>
      <ion-item>
        <ion-icon></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <!-- <ion-slides>
    <ion-slide #ngFor="let slide in slides">
      <div class="container">
        <ion-icon [name]="slide.icon" ></ion-icon>
        <span>{{slide.text}}</span>
      </div>
    </ion-slide>
  </ion-slides> -->


</ion-content>
